{% extends 'layout.html.twig' %}

{% block page_title %}Hello AppController!{% endblock %}

{% block body %}

    https://www.cssscript.com/tag/tour/


    <div class="example-wrapper">
        {% include "app/_test_routes.html.twig" %}

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/tac/survos/volt-dashboard-symfony/src/Controller/AppController.php'|file_link(0) }}">src/Controller/AppController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/tac/survos/volt-dashboard-symfony/templates/app/index.html.twig'|file_link(0) }}">templates/app/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
