{% extends 'layout.html.twig' %}

{% block sidebar '' %}
{% block title %}menus{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-6">
            <h3>Goal</h3>
            {% set goal = block('goal') %}
            {{ goal|raw }}
            <pre>{{ block('goal')|cleanup|escape }}</pre>
        </div>
<div class="col-6">
    {% if menuCode is not defined %}
        {% set menuCode = 'survos_sidebar_menu' %}
    {% endif %}

    "template"      : "@SurvosBase/knp_menu.html.twig",

    {% set test = knp_menu_render(menuCode, {
        'menu_code'     : menuCode,
        "template"      : "knp_menu_volt.html.twig",
        "attributes"    : "mt-2 navbar navbar-dark",
        "currentClass"  : "active",
        "ancestorClass" : "ancestor-active justify-content-between d-flex",
        "branch_class"  : "nav-item branch justify-content-between d-flex align-items-center",
        'firstClass'    : '',
        'lastClass'     : '',
        'leaf_class'    : 'nav-item',
        "allow_safe_labels": true,
    }) %}
    {{ test|raw }}
    <nav class="sidebar d-md-block bg-dark text-white collapse">
</nav>

    <pre>{{ test|cleanup|escape('html') }}</pre>
</div>
    </div>

{% endblock %}

{% block goal %}
<ul>
    <li class="nav-item">
    <div
            class="nav-link collapsed d-flex justify-content-between align-items-center"
            data-bs-toggle="collapse" data-bs-target="#test">
        <div>
            <span class="sidebar-icon"><span class="far fa-file-alt"></span></span>
            <span class="sidebar-text">Test Collapse</span>
        </div>

        <div class="link-arrow"><span class="fas fa-chevron-right"></span></div>
    </div>


    <div class="multi-level collapse  " role="list"
         id="test" aria-expanded="false">
        <ul class="flex-column nav">
            <li class="nav-item">
                <a class="nav-link" href="@@path/pages/examples/sign-in.html">
                    <span class="sidebar-text">Sign In</span>
                </a>
            </li>
        </ul>
    </div>
</li>
</ul>
{% endblock %}
