{% extends '@SurvosBase/volt/base.html.twig' %}

{% block sidebar_user %}
    USER MENU
    <nav id="sidebarMenu" class="sidebar d-md-block bg-dark text-white collapse" data-simplebar="init">
        <div class="simplebar-wrapper" style="margin: 0px;">
            <div class="simplebar-height-auto-observer-wrapper">
                <div class="simplebar-height-auto-observer"></div>
            </div>

            <div class="simplebar-mask">
                <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                    <div class="simplebar-content-wrapper" style="height: auto; overflow: hidden;">
                        <div class="simplebar-content" style="padding: 0px;">
                            <div class="sidebar-inner px-4 pt-3">
                                <div class="user-card d-flex xd-md-none align-items-center justify-content-between justify-content-md-center pb-4">
                                    <div class="d-flex align-items-center">
                                    <div class="collapse-close xxd-md-none">
                                        <a href="#sidebarMenu" class="fas fa-times" data-bs-toggle="collapse"
                                           data-bs-target="#sidebarMenu" aria-controls="sidebarMenu"
                                           aria-expanded="true" aria-label="Toggle navigation"></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

{% endblock %}
